<?xml version="1.0" encoding="UTF-8"?>

<element>
    <web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
        
        <!-- RegisterServlet Configuration -->
        <servlet>
            <servlet-name>RegisterServlet</servlet-name>
            <servlet-class>Servlet.RegisterServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>RegisterServlet</servlet-name>
            <url-pattern>/RegisterServlet</url-pattern>
        </servlet-mapping>

        <!-- AdminLoginServlet Configuration -->
        <servlet>
            <servlet-name>AdminLoginServlet</servlet-name>
            <servlet-class>Servlet.AdminLoginServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>AdminLoginServlet</servlet-name>
            <url-pattern>/AdminLoginServlet</url-pattern>
        </servlet-mapping>

    </web-app>
</element>
